
bin/
obj/
[Bb]uild/
[Oo]utput/

*.user
*.suo
*.userosscache
*.sln.docstates
packages/


*.vspscc
*.vssscc
.vs/


*.tmp
*.log
*.vsmdi
*.cache
*.dbmdl
*.bak
*.swp
*.DS_Store
Thumbs.db
.idea/

_publish/
publish/

/.vs/config/applicationhost.config

